.menuSCSS3 a {
  display: block;
  padding: 2em;
  background-color: #F9B53C;
  text-decoration: none;
  color: #191C26;
}
.menuCSS3 a:hover {
  background-color: #CC673B;
}
.menuSCSS3 ul li ul {
  display: none;
}
.menuSSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
  display: block;
}
