<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<button class="btn btn-success float-right m-3"
        (click)="onGuardarDoctor()">Registrar Doctor</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Enrollment</th>
    <th scope="col">Name</th>
    <th scope="col">Speciality</th>
    <th scope="col">Identification card</th>
    <th scope="col">Address</th>
  </tr>
  </thead>
  <tbody *ngIf="doctors.length">
  <tr *ngFor="let doctor of doctors">
    <td>{{doctor.enrollment}}</td>
    <td>{{doctor.name}}</td>
    <td>{{doctor.speciality}} </td>
    <td>{{doctor.identificationCard}}</td>
    <td>{{doctor.address}}</td>
  </tr>
  </tbody>
  <tbody *ngIf="!doctors.length">
  <tr>
    <td colspan="6">
      <div class="alert alert-warning text-center" role="alert">
        Search not found
      </div>
    </td>
  </tr>
  </tbody>
</table>
