@import url('https://codepen.io/uzcho_/pen/RzEBwg');
@import URL('https://codepen.io/uzcho_/pen/RmOWmw.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap");

* {
  font-family: "Saira Semi Condensed", sans-serif;
  transition: all 0.5s ease;
}

body {
    background: #dfdfdf;
  }
  .container {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  h3{
      text-align: center;
      margin-top: 15px;
  }

  
form {
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }


  label, input, textarea {
    padding: 8px;
  }
  
  label, [placeholder] {
    color: #555;
  }
  label i {
    margin: 0 10px 0 0;
  }
  input, textarea {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px rgb(109, 109, 109);
  }
  input:focus, textarea:focus {
    background: white;
    box-shadow: none;
  }
  
  textarea {
    resize: none;
  }
  textarea::-webkit-scrollbar {
    width: 0;
  }

  button {
    background: #2f4ad0;
    margin: 16px 0 50px 0;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px #555;
  }
  button:hover {
    letter-spacing: 2px;
    box-shadow: none;
  }