<div class="card">
  <div class="card.header">
    <h3>Doctor</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="doctorForm">
      <div class="form-group">
        <label for="">Matricula</label>
        <input
          formControlName="enrollment"
          name="enrollment"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Nombre</label>
        <input
          formControlName="name"
          name="name"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Especialidad</label>
        <input
          formControlName="speciality"
          name="speciality"
          type="text"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="">Cedula</label>
        <input
          formControlName="identificationCard"
          name="identificationCard"
          type="text"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="">Direcciòn</label>
        <input
          formControlName="address"
          name="address"
          type="text"
          class="form-control"
        />
      </div>


      <div class="form-group">
        <button class="btn btn-primary" (click)="onGuardarDoctor()"> Registrar Medico</button>
      </div>
    </form>

  </div>
</div>

